<% provide(:title, "Your Apps") %>
<%= render 'layouts/user_pannel' %>

<% if !current_user.admin? %>
 <div class="app_pannel"><h3 class="pannel_title">Your Public Apps</h3></div>
 <%= render 'public_apps' %>
 <div class="app_pannel"><h3 class="pannel_title">Your Private Apps</h3></div>
 <%= render 'private_apps' %>
<% else %>
 <%= render 'all_apps' %>
<% end %>
