<% provide(:title, 'Create New App') %>
 <%= render 'shared/clear_panel' %>
<h1 class="xbs_h1"><strong>Step 1:</strong> Appliance Base Template</h1>
<div class="studio_container">
 <%= render 'form' %>
</div>
<button id = "nextStepBtn" onclick = "gotoNextStep()">Next Step</button>