<%=provide(:title, @user.first_name) %>
<%= render 'layouts/user_pannel' %>
<div class="app_pannel">
 <h3 class="pannel_title">Your Public Appliances</h3>
</div>
<div class="app_container">
</div>
<div class="app_pannel">
 <h3 class="pannel_title">Your Private Appliances</h3>
</div>
<div class="app_container">
</div>