<div>
	<div style="color:white; margin-right:10px; float:left; font-size:16px; height:109px; width:217px; background-color: rgb(51,102,153); text-align: center;">
		<h4 style="margin-top:10px;">Number of Apps</h4>
		<h1><%= @user.appliances.count %></h1>
	</div>
	<div style="color:white; margin-right:10px; float:left; font-size:16px; height:109px; width:217px; background-color: rgb(103,175,65); text-align: center;">
		<h4 style="margin-top:10px;">Number of vApps</h4>
		<h1><%= @user.appliances.count %></h1>
	</div>
	<div style="color:white; margin-right:10px;float:left; font-size:16px; height:109px; width:217px; background-color: rgb(250,104,0); text-align: center;">
		<h4 style="margin-top:10px;">Number of Repositories</h4>
		<h1><%= @user.appliances.count %></h1>
	</div>
</div>