.MainHeader
{
 height: 100px;
 width: 100%;
 margin-left: 0px;
 padding:0 0 0 0px;
 background-color: rgb(248, 247, 239);
}

body
{
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 0px;
 margin-bottom: 0px;
}

.login_notification_Panel
{
  text-align: center;
}

.logo
{
 margin-left:50px;
 margin-top: 25px;
 background-image: url("BSLogo.png");
 background-repeat: no-repeat;
 float: left;
 height: 44px;
 width: 298px;
}

.login_part_not_logged_in
{
 height:100px;
 width: 215px;
 float: right;
 text-align: center;
 margin-left: 0px;
 font-size: 25px;
 color: white;
 margin-right:100px;
 vertical-align: middle;
 margin-top: auto;
 background-color: rgb(103,175,56);
}



.login_part_logged_in
{
 height:100px;
 width: 215px;
 float: right;
 text-align: center;
 margin-left: 0px;
 font-size: 25px;
 color: white;
 margin-right:100px;
 vertical-align: middle;
 margin-top: auto;
 background-color: rgb(81,70,56);
}

.menu_pannel
{
  float: right;
  padding-top: 40px;
}

.login_part_Top_header
{
  height: 45px;
  width: 100%;
  background-color: rgb(100,89,76);
  margin-top: auto;
}

.signup_link
{
	color: white;
  text-transform: uppercase;
  vertical-align: middle;
}

a
{
	text-decoration: none;
}

.main_menu
{
 color: rgb(102,102,102);
 font-size:20px;
 margin-top: 37px;
 padding-left:10px;
 padding-right:10px;
}

.admin_main_menu
{
 color: rgb(255,0,0);
 font-size:20px;
 margin-top: 37px;
 padding-left:10px;
 padding-right:10px;
}

.footer
{
 background-color: rgb(51,51,51);
 height:280px;
 width:100%;
}

a.footer_link
{
	font-size:20px;
	color:white;
}

.footer_column
{
 width: 400px;
}

.footer_menu
{
 float: left;
 color:white;
 font-size:26px;
 padding-top: 20px;
}

.footer_seprator
{

}

.footer_img
{
 clear:both;
}


a.footer_menu
{
	font-size: 20px;
}


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}
