/*All studio environment attributes are stored in this file.*/
.container
{
	width:70%;
	margin:auto;
}

#selectable_template .ui-selecting {
background-color: gray;
}
#selectable_template .ui-selected {
background-color: black;
color: white;
}

#selectable_arch .ui-selecting {
background-color: gray;
}
#selectable_arch .ui-selected {
background-color: black;
color: white;
}

.studio_content-placeholder
{
	background-color: rgb(230,230,230);
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	overflow: auto;
}

.back_btn
{
	height: 50px;
	width: 67px;
	background-color: rgb(230,230,230);
}

.flat_item
{
  	height: 160px;
	width: 30%;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	vertical-align: middle;
	text-align: center;
}

.flat_item._1
{
	background-color: rgb(155,79,151);
}
.flat_item._2
{
	background-color: rgb(223,38,136);
}
.flat_item._3
{
	background-color: rgb(103,175,65);
}
.flat_item._4
{
	background-color: rgb(0,176,255);
}
.flat_item._5
{
	background-color: rgb(226,26,44);
}
.flat_item._6
{
	background-color: rgb(255,185,0)
}

.flat_item_image
{
	float: none;
	width: 70%;
	padding-top: 43px;
}

.help_icon
{
	margin-right: 20px;
	height: 50px;
	position: relative;
	width: 50px;
	background-color: rgb(204,204,204);
	float: right;
}