/*This file contains all css attributes related to user profile pages(e.g. user home page, user dashboard, user info panel, ...)*/
/*-----------------USER PROFILE PANEL----------------------*/
.user_profile_pannel
{
 width: 100%;
 height: 145px;
 background-color: rgb(51,51,51);
}

.user_info
{
	width:100%;
	height:100%;
	float:left;
	font-family: 'freesans';
}

img.user_img
{
	float:left;
	padding-left:5%;
	padding-top:10px;
	padding-right:20px;
	height:124px;
}

h1.user_pannel_title
{
	color:white;
	margin-bottom:5px;
	font-size: 25px;
}

.profile_link
{
	color: white;
	font-size: 15px;
}
/*---------------------------------------*/

.app_pannel
{
 width:100%;
 height:53px;
 margin-bottom: 20px;
 background-color: rgb(230, 230, 230);
}


.app_container
{
 background-color: rgb(248, 247, 239);
 width:100%;
 height: 1000px;
}

.top_horizontal_pannel
{
	text-align: center;
	color: white;
	width: 100%;
	height: 145px;
	background-color: rgb(103, 175, 65);
}

.top_horizontal_pannel_blue
{
	text-align: center;
	color: white;
	width: 100%;
	height: 145px;
	background-color: rgb(51, 102, 153);
}

.narrow_top_pannel
{
	height: 10px;
	width: 100%;
	background-color: rgb(60, 60, 60);
}

.body_container
{
	width: 80%;
	text-align: center;
	border-style: solid;
	border-width: 0px;
	margin:auto;
	overflow: auto;
	padding-bottom: 50px;
	padding-top: 50px;
}

.left_section
{
	overflow: auto;
	border-style: solid;
	border-width: 0px;
	float: left;
	width: 50%;
	text-align: center;
}

.right_section
{
	border-style: solid;
	border-width: 0px;
	overflow: auto;
	float: left;
	width: 50%;
	text-align: left;
	color: rgb(100,100,100);
}


.pannel_content
{
	margin: auto;
	padding-top: 1px;
	width: 70%;
	height: 100%;
	color: white;
}


.action_panel
{
	float:right;
	height:100%;
	margin-right: 100px;
	width: 700px;
	padding-right: 0px;
}

.action_item
{
	height:100%;
	text-align:center;
	color:white;
	width: 215px;
	float:right;
}

.action_link
{
	color: white;
	margin-top: 10px;
	font-size: 23px;
}


.dashboard_title
{
	font-size: 23px;
	padding-top: 100px;
	line-height:50px;
	color:white;
	text-transform:uppercase;
	font-family: 'Segoe UI','SegoeUI','Arial','Helvetica';
}

.dashboard_item
{
	height: 177px;
	width: 325px;
	background-color: rgb(155, 79, 151);
	float:left;
}

.actions_title
{
	font-size: 25px;
	color:rgb(100,100,100);
	padding-top:30px;
	font-family: 'Segoe UI','SegoeUI','Arial','Helvetica';
	padding-left: 8px;
	padding-top: 50px;
}


.dashboard_button_left
{
	float:left;
	width:160px;
	height:60px;
	padding-top: 3px;
	background-color:rgb(102,102,102);
	font-size: 15px;
	font-family: 'Segoe UI','SegoeUI','Arial','Helvetica';
}

.dashboard_button_right
{
	float:right;
	width:160px;
	height:60px;
	padding-top: 3px;
	font-size: 15px;
	background-color:rgb(102,102,102);
	font-family: 'Segoe UI','SegoeUI','Arial','Helvetica';
}

.dashboard_text
{
	font-size: 15px;
	font-family: 'Segoe UI','SegoeUI','Arial','Helvetica';
}


.statistic_panel
{
	height: 470px;
	width: 100%;
	background-color: rgb(51,102,153);
}