  <div class="banner">
   <div class="banner_text" align="center">
    <div style="font-weight: bold; padding-top:120px;" class="banner_line1"><%= @banner_title %></div>  
    <div style="font-weight: bold;" class="banner_line2"><%= @banner_text1 %></div>
    <div style="color: rgb(204, 204, 204); font-family: Standard Symbols L;" class="banner_line3"><p><big><%= @banner_text2 %></big></p></div> 	
    <%= link_to "More Information", "#", :class => "more_info_link" %>
   </div>
   <div class="banner_image" align="center">
   	<img style="padding-top:60px;" src="./assets/Banner_Cloud.png" height="400" width="400">
   </div>
  </div>
