  <div class="container1">
      <div align="center">
   <div class="arrow-down"></div>
   <div class="top_body_container" align="center">
    <img style="padding-top:33px;" src="assets/XBS.png">
    <div style="width: 500px; text-align: justify; color: rgb(51, 51, 51); font-family: FreeSans;"><big><br>
Xamin Build Studio is a software as a service
to provide ISVs and individual developers to
convert their software applications into Xamin
ready to run virtual appliance.
</big></div>
   </div>
   <div class="arrow-up"></div>
  </div>
  </div>
