<div class="footer">
 <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
   <tr>
    <td style="vertical-align: top; text-align: center; padding-top:28px;">
     <%= link_to "Xamin Website", "http://www.xamin.ir", :class => "footer_link" %> 
    <br>
    </td>
    <td style="vertical-align: top; text-align: center;">
     <br>
    </td>
    <td style="vertical-align: top; text-align: center; padding-top:28px;">
     <%= link_to "Appliance Market", "http://market.xamin.ir", :class => "footer_link" %>
    </td>
    <td style="vertical-align: top;">
     <br>
    </td>
    <td style="vertical-align: top; text-align: center; padding-top:28px;">
     <%= link_to "Send Feedback", "#", :class => "footer_link" %>
    </td>
    <td style="vertical-align: top;">
     <br>
    </td>
    <td style="vertical-align: top; text-align: center; padding-top:28px;">
     <%= link_to "Contact Us", "#", :class => "footer_link" %>
    </td>
   </tr>
   <tr>
    <td style="vertical-align: top; text-align: center;  padding-top:50px;">
     <img width="100" src="assets/XHome.png"/>
    </td>
    <td style="vertical-align: top; text-align: center;">
     <img height="200" src="assets/footer_seprator.png"/>
     <br>
    </td>
    <td style="vertical-align: top;">
     <div style="text-align: center; padding-top:50px;">
      <img height="100" width="100" src="assets/Market.png"/>
     </div>
     <br>
    </td>
    <td style="vertical-align: top; text-align: center;">
     <img height="200" src="assets/footer_seprator.png"/>
     <br>
    </td>
    <td style="vertical-align: top; text-align: center;  padding-top:50px;">
     <img height="100" width="100" src="assets/Feedback.png"/>
     <br>
    </td>
    <td style="vertical-align: top; text-align: center;">
     <img height="200" src="assets/footer_seprator.png"/>
     <br>
    </td>
    <td style="vertical-align: top; text-align: center;  padding-top:50px;">
     <img height="100" width="100" src="assets/Contact.png"/><br>
    </td>
   </tr>
  </tbody>
 </table>
 <br>
</div>
