<div class="footer">
 <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
   <tr>
    <td style="vertical-align: top; text-align: center; padding-top:28px;"><a style="font-size:20px; color:white;" href="http://www.xamin.ir">Xamin WebSite</a></div>
    <br>
    </td>
<td style="vertical-align: top; text-align: center;"><br>
</td>
<td style="vertical-align: top; text-align: center; padding-top:28px;"><a style="font-size:20px; color:white;" href="http://market.xamin.ir">Appliance Market</a></td>
<td style="vertical-align: top;"><br>
</td>
<td style="vertical-align: top; text-align: center; padding-top:28px;"><a style="font-size:20px; color:white;" href="#">Your Feedback</a><br>
</td>
<td style="vertical-align: top;"><br>
</td>
<td style="vertical-align: top; text-align: center; padding-top:28px;"><a style="font-size:20px; color:white;" href="#">Contact Us</a><br>
</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center;  padding-top:50px;"> <img width="100" src="assets/XHome.png"/></td>
<td style="vertical-align: top; text-align: center;"><img height="200" src="assets/footer_seprator.png"/><br>
</td>
<td style="vertical-align: top;">
         <div style="text-align: center; padding-top:50px;"><img height="100" width="100" src="assets/Market.png"/></div>
<br>
</td>
<td style="vertical-align: top; text-align: center;"><img height="200" src="assets/footer_seprator.png"/><br>
</td>
<td style="vertical-align: top; text-align: center;  padding-top:50px;"><img height="100" width="100" src="assets/Feedback.png"/><br>
</td>
<td style="vertical-align: top; text-align: center;"><img height="200" src="assets/footer_seprator.png"/><br>
</td>
<td style="vertical-align: top; text-align: center;  padding-top:50px;"><img height="100" width="100" src="assets/Contact.png"/><br>
</td>
</tr>
</tbody>
</table>
<br>
  </div>
