
  <div class="MainHeader">
   <a href="/"><div class="logo"></div></a> 
   <div class="login_part"><a href="#" style="color:white;">SIGN UP NOW!</a></div> 
   <a class="main_menu" href="/">Home</a>
   <a class="main_menu" href="#">AppStore</a>
   <a class="main_menu" href="#">Sign In</a>
  </div>