  <div class="MainHeader">
   <%= link_to "" , "root_path", :class => "logo" %> 
   <div class="login_part"><a href="#" style="color:white;">SIGN UP NOW!</a></div> 
   <%= link_to "Home", "root_path", :class => "main_menu" %>
   <%= link_to "AppMarket", "#", :class => "main_menu" %>
   <%= link_to "Sign In", "#", :class => "main_menu" %>
  </div>
